<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bilibili.dao.diy.VideosMapper">
        <!-- 插入语句模板 -->
    <insert id="batchInsertVideos" parameterType="java.util.List">
    INSERT INTO crawler (cover_url, video_url, length, title, play_count, author_name)
    VALUES
    <foreach collection="list" item="item" separator=",">
        (#{item.coverUrl}, #{item.videoUrl}, #{item.length}, #{item.title}, #{item.playCount}, #{item.authorName})
    </foreach>
    </insert>

</mapper>